body {
  background-color: darkslategray;
}

.jumbotron {
  margin: 10px 10px;
  background-color: rgb(203, 187, 207);
}

.form-inline {
  background-color: rgb(203, 187, 207);
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 5px;
  justify-content: center;
}

.card {
  background-color: seashell;
  margin: 10px 10px;
}

.Gryffindor {
  background-color:darkred;
  color: white;
}

.Ravenclaw {
  background-color: royalblue;
  color: white;
}

.Hufflepuff {
  background-color: gold;
}

.Slytherin {
  background-color: green;
  color: white;
}

.BadGuy {
  background-color: dimgray;
  color: lightgray;
};